<p style="color: green"><%= notice %></p>

<%= render @page %>

<div class="btn-group" role="group" aria-label="Basic mixed styles example">
  <%= link_to "Edit", edit_page_path(@page), class: 'btn btn-sm btn-warning' %>
  <%= link_to "Back", book_pages_path(@book), class: 'btn btn-sm btn-secondary' %>
  <%= button_to "Destroy", @page, method: :delete, class: 'btn btn-sm btn-danger' %>
</div>
